html, body {
    margin: 0px;
}
h1 {
    font-size: 1em;
}
#main {
    background: #deadbeef;
    padding:5px 0;
}
.topbar {
    font-size: 1.5em;
}
.content a {
    color:red;
}
.content > a {
    color:blue;
}
